.button {
  background: $blue;
  border: none;
  color: white;
  display: inline-block;
  font-size: $font-size-large;
  line-height: 1;
  padding: $s-size;
  text-decoration: none;
  font-weight: $favourite-font-weight;
}

.button--large {
  padding: $m-size;
}

.button--link {
  background: none;
}

.button--secondary {
  background: #888;
}

.button--warm-peach {
  background: $warm-peach;
}
.button--dark-blue {
  background: $dark-blue;
}

.button--with-bottom-margin {
  margin-bottom: $m-size;
}
