.form {
  display: flex;
  flex-direction: column;
  > * {
    margin-bottom: $s-size;
  }
}

.form__input-container {
  position: relative;
}

.form__input-container input {
  text-indent: 30px;
  width: 100%;
}

.form__input-container textarea {
  width: 100%;
}

.form__input-container .icon {
  top: $m-size;
  left: $s-size;
  position: absolute;
}

.form__input-container .error {
  margin: 0px;
  color: $warm-peach;
  font-style: italic;
}
