.header {
  background: $warm-peach;
}

.header__content {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: $s-size 0;
}

.header__title {
  color: white;
  text-decoration: none;
  h1 {
    font-size: $font-size-extra-large;
    margin: 0;
    font-weight: $favourite-font-weight;
  }
}

.header__right {
  display: flex;
  align-items: center;
}

.header__user-photo {
  margin-right: $s-size;
}

.header__dropdown-menu-icon {
  margin-right: 1rem;
}
