.homepage__image-container {
  margin-top: 60px;
  position: relative;
  opacity: 0.95;
  overflow: hidden;
}

.homepage__image-container__text-container {
  height: 18rem;
  width: 66rem;
  top: 3rem;
  position: absolute;
  background: $dark-blue;
  opacity: 0.6;

  @media (max-width: $small-laptop-breakpoint) {
    top: 1rem;
  }

  @media (max-width: $tablet-breakpoint) {
    height: 12rem;
    top: 1rem;
  }

  @media (max-width: $mobile-breakpoint) {
    height: 12rem;
    top: 1rem;
  }
}

.homepage__image-container__text--website-name {
  font-size: $l-size;
  margin: 0;
  font-weight: $favourite-font-weight;

  @media (max-width: $tablet-breakpoint) {
    font-size: $ml-size;
  }

  @media (max-width: $mobile-breakpoint) {
    display: none;
  }
}

.homepage__image-container__text {
  font-weight: $favourite-font-weight;
  position: absolute;
  font-size: $ml-size;
  color: white;
  padding: $s-size;
  top: 3rem;

  @media (max-width: $small-laptop-breakpoint) {
    top: 1rem;
  }

  @media (max-width: $tablet-breakpoint) {
    top: 1rem;
    font-size: $s-size;
  }

  @media (max-width: $mobile-breakpoint) {
    top: 1rem;
  }
}

.homepage__image-container__get_started-container {
  top: 28rem;
  left: 53rem;
  @media (max-width: $small-laptop-breakpoint) {
    top: 20rem;
  }
  @media (max-width: $tablet-breakpoint) {
    top: 14rem;
  }
  @media (max-width: $mobile-breakpoint) {
    display: none;
  }
}

.homepage__image-container__typing-container {
  height: 5rem;
  width: 50rem;
  top: 28rem;
  position: absolute;
  background: $dark-blue;
  opacity: 0.6;

  @media (max-width: $small-laptop-breakpoint) {
    height: 3rem;
    width: 28rem;
    top: 20rem;
  }

  @media (max-width: $tablet-breakpoint) {
    top: 14rem;
  }

  @media (max-width: $mobile-breakpoint) {
    display: none;
  }
}

.homepage__image-container__typing {
  padding: 0 $s-size;
  position: absolute;
  top: 28rem;
  color: white;
  font-size: $l-size;

  @media (max-width: $small-laptop-breakpoint) {
    font-size: $ml-size;
    top: 20rem;
  }

  @media (max-width: $tablet-breakpoint) {
    top: 14rem;
  }

  @media (max-width: $mobile-breakpoint) {
    display: none;
  }
}

.homepage__image-container__social_buttons {
  position: absolute;
  bottom: 20px;

  @media (max-width: $mobile-breakpoint) {
    display: none;
  }
}