.loading-container {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100vw;
}

.loader--big {
  height: 6rem;
  width: 6rem;
}

.loader--small {
  height: 3rem;
  width: 3rem;
}

.loader--medium {
  height: 4.5rem;
  width: 4.5rem;
}
