.ReactModalPortal > div {
  opacity: 0;
}

.ReactModalPortal .ReactModal__Overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 200ms ease-in-out;
}

.ReactModalPortal .ReactModal__Overlay--after-open {
  opacity: 1;
  background: rgba(0, 0, 0, 0.75) !important;
}

.ReactModalPortal .ReactModal__Overlay--before-close {
  opacity: 0;
}

.modal {
  border-radius: 4px;
  background: white;
  color: black;
  outline: none;
  padding: $l-size;
  max-width: 40rem;
}

.modal__title {
  margin: 0 0 $m-size 0;
}
