.post-list-item {
  border-right: 1px $grey solid;
  width: 50%;
  margin-bottom: $xl-size;
  padding: 0 $m-size;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  @media (max-width: $desktop-breakpoint) {
    width: 100%;
    border-right: none;
  }
}

.post-list-item--no-border {
  border-right: none;
}

.post-list-item__link,
.post-list-item__author {
  text-decoration: none;
  color: $dark-grey;
}

.post-list-item__link {
  text-align: center;
}

.post-list-item__image {
  width: 100%;
}

.post-list-item__title {
  font-size: $font-size-large;
}

.post-list-item__description {
  font-size: $font-size-normal;
  font-weight: $favourite-font-weight;
}

.post-list-item__title-description-container{
  text-align: left;
}

.post-list-item__avatar {
  margin-right: $s-size;
}

.post-list-item__author-edit-container {
  display: flex;
  justify-content: space-between;
}