.post-list-item {
  width: 33.33%;
  margin-bottom: $xl-size;
  padding: 0 $s-size 0 0;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  @media (max-width: $tablet-breakpoint) {
    width: 50%;
  }
  @media (max-width: $mobile-breakpoint) {
    width: 100%;
  }
}

.post-list-item--no-padding-right {
  padding-right: 0;
}

.post-list-item__link{
  text-decoration: none;
  color: $dark-grey;
}

.post-list-item__link {
  text-align: center;
}

.post-list-item__image {
  width: 100%;
}

.post-list-item__title {
  margin: 0;
  font-size: $font-size-large;
}

.post-list-item__description {
  margin: $s-size 0;
  font-size: $font-size-normal;
  font-weight: $favourite-font-weight;
}

.post-list-item__title-description-container{
  text-align: left;
}

.post-list-item__author-edit-container {
  display: flex;
  justify-content: space-between;
}

.post-list-item__content-container {
  position: relative;
}

.post-list-item__address-container {
  position: absolute;
  top: 0px;
  background: $warm-peach;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: left;
  padding: $xs-size 0.1rem;
  opacity: 0.8;
}

.post-list-item__address-icon{
  margin-left: $xs-size;
  margin-right: $xs-size;
  font-size: 1.5rem;
  color: white;
}

.post-list-item__address{
  font-size: $s-size;
  color: white;
}