.search-bar {
  font-size: $font-size-large;
  font-weight: $favourite-font-weight;
  padding: $xs-size $s-size;
  border: 1px white solid;
  width: 100%;
  outline: none;
}

.search-bar__container {
  display: flex;
  align-items: center;
  border: 1px $grey solid;
  flex-grow: 1;
}

.search-bar__icon {
  margin-left: $s-size;
  font-size: $font-size-extra-large;
}
