.search-bar {
  padding: $xs-size $s-size;
  border-radius: 12px;
  border: none;
  width: 30rem;
  outline: none;
}

.search-bar--warm-peach {
  border: 1px $warm-peach solid;
  color: $warm-peach;
}

