.show-for-mobile {
  @media (min-width: $tablet-breakpoint) {
    display: none;
  }
}

.show-for-tablet {
  @media (max-width: $tablet-breakpoint - .01rem) {
    display: none;
  }
}

.show-for-laptop {
  @media (max-width: $laptop-breakpoint - .01rem) {
    display: none;
  }
}
