* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  color: $dark-grey;
  font-family: Helvetica, Arial, sans-serif;
  font-size: $m-size;
  line-height: 1.6;
}

button {
  cursor: pointer;
  font-weight: $favourite-font-weight;
}

button:disabled {
  cursor: default;
}

.is-active {
  font-weight: bold;
}

.favourite-font-weight {
  font-weight: $favourite-font-weight;
}

.flex {
  display: flex;
}

.center {
  text-align: center;
}

.align-items--center {
  align-items: center;
}

.justify-content--center {
  justify-content: center;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-grow {
  flex-grow: 1;
}

.justify-content--between {
  justify-content: space-between;
}

.justify-content--around {
  justify-content: space-around;
}

.flex-direction--column {
  flex-direction: column;
}

.mr1 {
  margin-right: $s-size;
}

.mr2 {
  margin-right: $m-size;
}

.ml1 {
  margin-left: $s-size;
}

.ml2 {
  margin-left: $m-size;
}

.mb1 {
  margin-bottom: $s-size;
}

.mb2 {
  margin-bottom: $m-size;
}

.mb3 {
  margin-bottom: $m-size;
}

.mt1 {
  margin-top: $s-size;
}

.mt2 {
  margin-top: $m-size;
}

.my1 {
  @extend .mt1, .mb1;
}

.my2 {
  @extend .mt2, .mb2;
}

.m0 {
  margin: 0;
}

.ml1 {
  margin-left: $xs-size;
}

.ml3 {
  margin-left: $l-size;
}

.ml4 {
  margin-left: $xl-size;
}

.p1 {
  padding: $s-size;
}

.pl1 {
  padding-left: $s-size;
}

.pl2 {
  padding-left: $m-size;
}

.pr1 {
  padding-right: $s-size;
}

.pt1 {
  padding-top: $s-size;
}

.pt2 {
  padding-top: $m-size;
}

.py1 {
  padding-top: $s-size;
  padding-bottom: $s-size;
}

.py2 {
  padding-top: $m-size;
  padding-bottom: $m-size;
}

.px1 {
  padding-right: $s-size;
  padding-left: $s-size;
}
.px2 {
  padding-right: $m-size;
  padding-left: $m-size;
}

.pb3 {
  padding-bottom: $l-size;
}

.no-text-decoration {
  text-decoration: none;
}

.italic {
  font-style: italic;
}

.relative {
  position: relative;
}

.fullwidth {
  width: 100%;
}

.halfwidth {
  width: 50%;
}

.thirdwidth {
  width: 33%;
}

.quarterwidth {
  width: 25%;
}

.hide {
  display: none;
}

.border {
  border: 1px black solid;
}

.border-top {
  border-top: 1px black solid;
}

.border-bottom {
  border-bottom: 1px black solid;
}

.border--grey {
  border-color: $grey;
}

.border--light-grey {
  border-color: $light-grey;
}

.border--warm-peach {
  border-color: $warm-peach;
}

.dashed-border {
  border: 1px black dashed;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.h1 {
  font-size: $xl-size;
}
.h2 {
  font-size: $l-size;
}
.h3 {
  font-size: $ml-size;
}
.h4 {
  font-size: $m-size;
}
.h5 {
  font-size: $s-size;
}
.h6 {
  font-size: $xs-size;
}

.text-dark-grey {
  color: $dark-grey;
}

.text-light-grey {
  color: $light-grey;
}

.text-grey {
  color: $dark-grey;
}

.text-white {
  color: white;
}

.border-light-grey {
  border: 1px $light-grey solid;
}

.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.pointer {
  cursor: pointer;
}
