// Colors
$dark-grey: #333;
$grey: #666;
$light-grey: #f0f0f0;
$blue: #1c88bf;
$dark-blue: #364051;
$off-white: #f7f7f7;
$warm-peach: #cd5360;
$white: #fdfdfd;
$limegreen: #32CD32;
// Font Size
$font-size-extra-large: 2.4rem;
$font-size-large: 1.8rem;
$font-size-normal: 1.6rem;
$font-size-small: 1.4rem;
// Spacing
$xs-size: 0.8rem;
$s-size: 1.2rem;
$m-size: 1.6rem;
$ml-size: 2rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;

// breakpoint
$mobile-breakpoint: 30rem;
$tablet-breakpoint: 48rem;
$laptop-breakpoint: 65rem;


//boldness

$favourite-font-weight: 330;
